<template>
  <div class="row flex justify-center bg-teal-300 py-2">
    <div>rageface.ru</div>
  </div>
  <div class="container mx-auto">
    <div class="py-2 sm:px-4">
      <slot />
    </div>
  </div>
</template>
