<script setup lang="ts">
const { api } = useRuntimeConfig().public

const { data } = await useFetch(
  `${api}/api/categories?populate[memes][populate]=image`
)
const categories = computed(() => data.value.data)

const makeApiUrl = (path) => api + path

const copiedSrc = ref(null)

const isCopied = (src) => copiedSrc.value === src

const copy = (src) => {
  try {
    fetch(src)
      .then((response) => response.blob())
      .then((blob) =>
        navigator.clipboard
          .write([new ClipboardItem({ 'image/png': blob })])
          .then(() => (copiedSrc.value = src))
      )
  } catch (error) {
    console.error(error)
  }
}
</script>

<template>
  <div class="row flex flex-wrap justify-center">
    <template v-for="category in categories" :key="category.id">
      <template v-for="meme in category.attributes.memes.data" :key="meme.id">
        <div
          class="border- meme relative p-2"
          v-if="meme.attributes.image.data"
        >
          <div
            class="meme-overlay absolute inset-0 flex cursor-grab items-center justify-center bg-black bg-opacity-20"
            title="Copy to clipboard"
            @click="
              copy(
                makeApiUrl(
                  meme.attributes.image.data.attributes.formats.thumbnail.url
                )
              )
            "
          >
            <img
              v-if="
                isCopied(
                  makeApiUrl(
                    meme.attributes.image.data.attributes.formats.thumbnail.url
                  )
                )
              "
              src="/icons/checkmark.png"
              alt=""
              class="w-16"
            />
            <img v-else src="/icons/copy.png" alt="" class="w-8 invert" />
          </div>
          <img
            :src="
              makeApiUrl(
                meme.attributes.image.data.attributes.formats.thumbnail.url
              )
            "
            alt=""
            class="h-32"
          />
        </div>
      </template>
    </template>
  </div>
</template>

<style lang="scss">
.meme {
  .meme-overlay {
    display: none;
  }

  &:hover {
    .meme-overlay {
      display: flex;
    }
  }
}
</style>
